<%= render "shared/nav" %>
<div class="row">
	<div class="col-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>File</th>
					<th>Date</th>
					<th>Status</th>
					<th>Errors</th>
					<th>Process</th>
				</tr>
			</thead>
			<tbody>
				<% @contact_uploads.each do |c_upload| %>
				  <tr>
				  	<td><%= link_to "Download", c_upload.file_url %></td>
				    <td><%= c_upload.created_at.strftime('%b %d  %H:%M') %> </td>
				    <td><%= c_upload.status.tr_s("_", " ").capitalize %> </td>
				    <td><%= link_to "Error log", upload_errors_path(c_upload) %></td>
				    <td><%= link_to "Process", edit_contact_upload_path(c_upload), class: "btn btn-success btn-sm #{'disabled' unless c_upload.status == 'on_hold'}" %> </td>
				  </tr>
				<% end %>
			</tbody>
			
		</table>
		<%==  pagy_bootstrap_nav(@pagy) %>
	</div>
</div>