<%= render "shared/nav" %>
<div class="row">
	<div class="col-3">
		<%= link_to "Upload contact file", new_contact_upload_path, class: "btn btn-sm btn-primary" %>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of birth</th>
					<th>Phone</th>
					<th>Address</th>
					<th>Credit Card</th>
					<th>Franchise</th>
                    <th>Email</th>
				</tr>
			</thead>
			<tbody>
				<% @contacts.each do |contact| %>
				  <tr>
				    <td><%= contact.name %> </td>
				    <td><%= contact.date_of_birth %> </td>
				    <td><%= contact.phone %> </td>
				    <td><%= contact.address %> </td>
				    <td><%= contact.credit_card %> </td>
				    <td><%= contact.franchise %> </td>
				    <td><%= contact.email %> </td>
				  </tr>
				<% end %>
			</tbody>
			
		</table>
		<%==  pagy_bootstrap_nav(@pagy) %>
	</div>
</div>